---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Alabanza</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>
<body class="bg-neutral-950 text-neutral-100 min-h-screen" style="font-family: 'Questrial', sans-serif;">
    <main class="max-w-6xl mx-auto p-6 md:p-8">
        <slot />
    </main>
</body>
</html>
